<p-table #dt1 [globalFilterFields]="['name']" [value]="categories">
  <ng-template pTemplate="header">
    <tr>
      <th>
        <div class="table-column__flex-center">
          Category
          <span class="p-input-icon-left p-ml-auto w-full">
            <i class="pi pi-search"></i>
            <input
              pInputText
              type="text"
              class="w-full"
              (input)="dt1.filterGlobal($any($event.target).value, 'contains')"
              placeholder="Search keyword"
            />
          </span>
        </div>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-category let-rowIndex="rowIndex">
    <tr>
      <td>{{ category.name }}</td>
    </tr>
  </ng-template>
</p-table>
